@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* width */
::-webkit-scrollbar {
    width: 15px;
    background: rgb(33,37,41); 
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #ffc107; 
    border-radius: 10px;
}

.searchNav {
    background-color: transparent !important;
    margin-top: 15px;
}

body {
    margin-top: 90px;
    background-image: url("https://raw.githubusercontent.com/joselhurtado/StarWars_LP_Using_React_RouterAPI/master/src/img/bg_stars.jpg") !important;
    background-color: transparent !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}

.fillImage {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fillImage img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}

.navbar {
    background-color: #000;
}

.titles {
    margin-top: 30px;
    margin-left: 15px;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    color: #fff;
}

h5 {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    color: #fff;
}

.NavLogo {
    width: 100px;
    height: auto;
    margin-left: 20px;
}

.characterTitle {
    margin-top: 25px !important;
}

.fa {
    align-self: center;
    padding: 15px;
}

.footerLegal {
    color: #fff;
}

hr {
    border: 2px solid #FFF;
    border-radius: 25px;
}

#carouselExampleCaptions {
    margin-top: 90px !important;
}

.carousel-item {
    width: 100%;
    max-height: 425px !important;
    
}

.heroImage {
    background-position: center !important;
    background-repeat: no-repeat;
    background-size: fill !important;
    position: relative;
    width: 100%;
}

.cardShape {
    background-color: #000;
    border: 1px solid #ffc107;
    border-radius: 25px;
    border-top-right-radius: 130px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 30px !important;
}

.shapeImageTop {
    margin-top: 20px;
    width: 320px; 
    height: 300px; 
    object-fit: cover;
    object-position: 20% 5%;
    border-radius: 100%;
    border-top-right-radius: 110px;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #252525;
}

.card-title {
    font-family: 'Russo One', sans-serif;
    font-size: 1.5rem;
}

.card-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 1px !important;
}

.card-text {
    line-height: normal;
}

.footerContainer {
    position: relative;
    text-align: center;
    background-color: #000;
    border-top: 2px solid #343a40;
    margin-top: 50px;
}

.centeredFooter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}